/* Estilos generales */
.NavDiv {
    height: 0px;
    }
    
    .detalleProducto {
        max-width: 1000px;        
        justify-content: center;
        padding: 10px;
        margin: 0 auto; /* Centrado en la página */
        margin-top: 30px;
        
    }
    
    .ContainerR {
        display: flex;
        flex-direction: column;
        color: #ffffff;
        background-color: #202324;
        border-radius: 20px;
        /* margin: 20px */
    }
    
    .detalleDeProducto{
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .DetailC {

        display: grid
;
    grid-template-areas:
        "ImageDetail ImageDetail ImageDetail"
        "ImageDetail ImageDetail ImageDetail"
        "DataDiv DataDiv DataDiv"
        "TypeBrandDiv Detalle AmountDetail"        ;
    
    grid-template-rows: 50%, 20px, 20px, 50%;
    background-color: #ffffff;
    border-radius: 20px;

        /* width: 1000px;
        display: flex;
        background-color: #ffffff;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        margin: 20px
     */
    }

    
    .DataDiv {
        border-radius: 20px 20px 20px 20px;
        background-color: #04000e;
        color: white;
        display: flex
    ;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
    }

    /* .DataDiv {
        border-radius: 20px 20px 20px 20px;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
    } */
    
    .ImageDetail {
        /* border-radius: 20px;
        margin: 20px;
        height: fit-content;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
        scale: 0.5;
     
    }
    .addToCart {
        margin:20px;
    }
    .starsCalification {
        color: #9b2727;
        font-size: 10px;
        margin-right: 10px;
    }
    
    .ReviewListo {
        
        border-radius: 20px;
        margin: 20px
    }
    
    .inputReview {
        border-radius: 20px;
        margin: 20px
    }
    
    .ButtonReview {
        border-radius: 20px;
        margin: 20px;    
        text-align: center;    
        align-content: center;
        
    }
    
    .bi-house {
        color: rgb(241, 233, 233);
        font-size: 30px;
        margin-right: 10px;
    }
    
    .Link {
        margin: 10px;
        scale: 1.4;
        display: flex;
        justify-content: center;
        text-decoration: none;
        color: rgb(241, 233, 233);
    }
    
    
    .Detalle, .TypeBrandDiv {
    
        align-items: center;
        justify-content: center;
        margin-top: 20px;
      }
    
    /* Estilos para pantallas medianas (650px) */
    @media screen and (max-width: 650px) {
    
    
        .detalleProducto {
            margin-top: 80px;     
            
            
        }    
    .DataDiv{
        margin: 20px;
        border-radius: 20px;
    }
        .DetailC {
            flex-direction: column;        
            align-items: baseline;
        }
    
        .ContainerR {
            margin: 20px;
            border-radius: 20px;
            
        }
    
        .DetailC img {
            width: 300px;
        }
    
        .ReviewListo {
            margin: 20px;
            border-radius: 20px;
        }
    
    }
    
    
    
    /* Estilos para pantallas aún más pequeñas (361px) */
    @media screen and (max-width: 360px) {
        .DetailC {
            display: flex;
            justify-content: center; /* Centra horizontalmente */
            align-items: center; /* Centra verticalmente */
        }
        .Link{
            margin: 20px;
        }
    
        .ButtonDetail {
            height: 50px;
        width: 200px;
        }
    
        .ReviewListo {
            width: 300px;
        }
    
        .DetailC img {
            width: 200px;
        }
    
        .Detalle, .TypeBrandDiv {
            margin: 20px;
            border-radius: 20px;
          }
/* 
          .ButtonC {
            width: 60px;
            height: 50px;          
            background-color: black;
            border-radius: 20px;
            position: absolute;
            left: 25px;            
        } */

    }
    