body {
  margin: 0;
  font-family: 'Didact Gothic', sans-serif;
  background-color: rgb(199, 198, 198);
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

